html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  /* background-image: url("https://www.enterprise.co.uk/en/home/_jcr_content/root/container/container/container_933387721_/image.coreimg.82.1920.png/1667526272927/img-2-3x-img-2-3x.png"); */
  background-image: url("https://images.unsplash.com/photo-1605602560252-2d23ec73d48a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9hZCUyMHdpdGglMjBjYXJzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");

  /* background-repeat: no-repeat; */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* NAVBAR */

/* .navbar-brand {
  margin-left: 170px;
}

#navbarSupportedContent {
  margin-left: 200px;
}

.navbar-nav .nav-item .nav-link {
  color: red;
}

.navbar-nav>li {
  margin-left: 5px;
  padding-left: 20px;
} */

.nav {
}
/* body */

.content {
  text-align: center;
  font-size: 30px;
  /* margin-top: 50px; */
  position: relative;
  top: 40px;
}

.card-text {
  text-align: center;
  color: white;
}

.card-body {
  background-color: rgba(33, 37, 45, 1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.card:hover {
  /* border: 8px solid black; */
  /* background-color: green; */
  opacity: 100%;
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(255, 0, 0, 0.4);
}

.car-size {
  max-width: 100%;
  height: 12.5vw;
  object-fit: cover;
}

.bus-size {
  max-width: 100%;
  height: 12.5vw;
  object-fit: cover;
}

.img {
  width: 80%;
  height: 100%;
}
